#display>span {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

#display {
  height: 50%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* .displayContainer {
  height: 90%;
  width: 100%;
  background-color: #61dafb;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}